<div class="contact-content">
    <p>
        <mat-form-field class="smallInput" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="abc@gmail.com">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="smallInput" appearance="outline">
            <mat-label>Họ và tên</mat-label>
            <input type="text" matInput placeholder="phan minh tuan">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="smallInput" appearance="outline">
            <mat-label>Số điện thoại</mat-label>
            <input type="email" matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="smallInput" appearance="outline">
            <mat-label>Ghi chú</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </p>
    <div class="btn-send-info">
        <a href="" class="hover_a_show_all">Gữi thông tin</a>
    </div>
</div>