<section>
    <div class="section-hot-deal">
        <div class="top-container">
            <div class="hot-deal-title">
                <h2>
                    <span class="hot">HONEY</span>DEALS
                    <span class="deal-text">Giá rẻ mỗi ngày</span>
                </h2>
                <a id="more" href="">Xem thêm</a>
            </div>
            <div class="hot-deal-content">
                <div *ngFor="let item of listProductSales" class="product-card">
                    <div class="product-img">
                        <a routerLink="/detail/{{item.id}}">
                            <img src="{{item.urlImg}}" alt="">
                            <img class="hover_pic" src="{{item.urlImg}}" alt="">
                        </a>
                        <div class="hover_box">
                            <button (click)="openDialog(item)" class="btn_shopping"><fa-icon icon="shopping-basket"></fa-icon></button>
                            <button routerLink="/detail/{{item.id}}" class="btn_forward"><fa-icon icon="share"></fa-icon></button>
                        </div>
                        <div class="label-sale">
                            {{item.sale}}
                        </div>
                        <div class="product-content">
                            <h3 class="product-name">
                                <a routerLink="/detail/{{item.id}}">{{item.title}}</a>
                            </h3>
                            <div class="product-price">
                                <span class="new-price">{{formmatPrice(item.newPrice)}}</span>
                                <span class="old-price">{{formmatPrice(item.oldPrice)}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="slick-dots">
                <li><button>1</button></li>
                <li><button>2</button></li>
                <li><button>3</button></li>
            </ul>
        </div>
    </div>
</section>