.bread-crumb {
    margin: 0;
    border-bottom: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
}

.bread-crumb-detail ul {
    background: transparent;
    color: rgba(112, 126, 137, 0.5);
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0;
}

.bread-crumb-detail ul li {
    padding: 10px 5px;
}

.bread-crumb-detail ul li span {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 10px;
    color: crimson;
    font-weight: 550;
    white-space: normal;
}

.bread-crumb-detail ul li a {
    font-size: 14px;
    padding-left: 0px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: #1c1c1c;
    white-space: normal;
    position: relative;
    width: 100%;
    text-decoration: none;
}

.bread-crumb-detail ul li i {
    font-size: 14px
}

.bread-crumb-detail ul li a:hover {
    color: red;
}

.detail-product {
    display: grid;
    grid: auto / auto auto;
}

.title-detail h1 {
    margin-top: 6%;
    font-size: 26px;
    line-height: 29px;
    font-weight: 550;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    color: #000;
}

.status-detail p {
    font-size: 16px;
    color: darkslategrey;
}

.status-detail p span {
    color: red;
    font-size: 14px;
    font-weight: 500;
    padding: 0 5px;
}

.price-detail h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.price-detail p {
    font-size: 18px;
    font-weight: 550;
}

.price-detail h2 span,
del {
    font-size: 16px;
    font-weight: 400;
    color: darkgray;
}

.price-detail del {
    font-size: 19px;
    font-weight: 500;
}

.description-detail p {
    font-size: 16px;
    font-weight: 400;
}

.qty-detail {
    display: flex;
}

.qty-detail label {
    padding: 10px;
    padding-left: 0;
    font-size: 18px;
    font-weight: 500
}

.qty-detail .item-popup-count,
.number-sidebar {
    width: 30px;
    height: 30px;
    font-size: 18px;
    margin-top: 5%;
}

.qty-detail .number-sidebar {
    height: 28px;
    font-size: 16px;
}

.btn-buy button {
    color: #fff;
    background-color: #f33;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.2px;
    height: auto;
    line-height: inherit;
    box-shadow: none;
    padding: 10px 30px;
    min-width: 350px;
    transition: background-color 0.1s ease-in;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
}

.btn-buy button:hover {
    background: #1c1c1c;
}

.btn-buy {
    margin: 10px 0;
}

.btn-buy h3 {
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 3px;
    font-weight: 500;
    margin: 0;
    padding: 5px 10px;
}

.btn-buy p {
    font-size: 10px;
    text-transform: none;
    font-weight: 400;
    margin: 0;
}

.rating-detail {
    color: rgb(255, 190, 0);
    font-size: 13px;
    margin-bottom: 2%;
}