<div class="show-cart-payment">
    <div class="fee-payment">
        <span>Tạm tính:</span>
        <strong>{{formmatPrice(total())}}</strong>
    </div>
    <div class="fee-total-payment">
        <span>Thành tiền:</span>
        <strong class="red-text">{{formmatPrice(total())}}</strong>
    </div>
    <div class="btn-submit-cart">
        <button routerLink="/checkout">thanh toán ngay</button>
    </div>
    <div class="btn-return-buy">
        <button routerLink="/list">tiếp tục mua hàng</button>
    </div>
</div>