<section>
    <div class="hot-deal-content">
        <div *ngFor="let item of listProductSales" class="product-card product-list">
            <div class="product-img">
                <a href="">
                    <img src="{{item.urlImg}}" alt="">
                    <img class="hover_pic" src="{{item.urlImg}}" alt="">
                </a>
                <div class="hover_box">
                    <button (click)="openDialog(item)" class="btn_shopping"><fa-icon icon="shopping-basket"></fa-icon></button>
                    <button class="btn_forward"><fa-icon icon="share"></fa-icon></button>
                </div>
                <div class="label-sale">
                    {{item.sale}}
                </div>
                <div class="product-content">
                    <h3 class="product-name">
                        <a href="">{{item.title}}</a>
                    </h3>
                    <div class="product-price">
                        <span class="new-price">{{formmatPrice(item.newPrice)}}</span>
                        <span class="old-price">{{formmatPrice(item.oldPrice)}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="page-number">
        <ul>
            <li>
                <a href="">
                    <fa-icon icon="angle-left"></fa-icon>
                </a>
            </li>
            <li>
                <a href="">1</a>
            </li>
            <li>
                <a href="">2</a>
            </li>
            <li>
                <a href="">
                    <fa-icon icon="angle-right"></fa-icon>
                </a>
            </li>
        </ul>
    </nav>
</section>