.checkout-contain {
    display: grid;
    grid: 100% / 70% 30%;
    box-shadow: 0 0 0 1px #d9d9d9;
}

.checkout-form {
    padding: 0 5%;
}

.checkout-logo-center {
    padding: 5% 0;
    text-align: center;
    display: block;
}

.checkout-logo-center a img {
    width: 20%;
}

hr {
    background: #717171;
    color: #717171;
}