<main>
    <app-bread-crumb></app-bread-crumb>
    <div class="main-list-show-product">
        <app-side-bar></app-side-bar>
        <section>
            <h2>Sản phẩm mới</h2>
            <div class="sort-cate">
                <h3>Xếp theo</h3>
                <ul>
                    <li><a href=""><i></i></a></li>
                    <li><a href="">Tên A-Z</a></li>
                    <li><a href=""><i></i></a></li>
                    <li><a href="">Tên Z-A</a></li>
                    <li><a href=""><i></i></a></li>
                    <li><a href="">Hàng mới</a></li>
                    <li><a href=""><i></i></a></li>
                    <li><a href="">Giá thấp đến cao</a></li>
                    <li><a href=""><i></i></a></li>
                    <li><a href="">Giá cao xún thấp</a></li>
                </ul>
            </div>
            <app-list-product-content></app-list-product-content>
        </section>
    </div>
</main>