<section class="bread-crumb">
    <div class="top-container">
        <div class="bread-crumb-detail">
            <ul>
                <li><a routerLink="/index">Trang chủ</a>
                    <fa-icon icon="chevron-right"></fa-icon>
                </li>
                <li *ngIf="subLink.title"><a routerLink="/{{subLink.link}}">{{subLink.title}}</a>
                    <fa-icon icon="chevron-right"></fa-icon>
                </li>
                <!-- <li><span>Tinh chất dưỡng và ngăn ngừa lão hóa vùng da quanh mắt Laneige Time Freeze Eye Serum EX 20ml</span></li> -->
            </ul>
        </div>
    </div>
</section>