<main>
    <app-slide-content></app-slide-content>
    <app-hot-deal></app-hot-deal>
    <section>
        <div class="top-container">
            <app-img-sale></app-img-sale>
        </div>
    </section>
    <app-new-product></app-new-product>
    <app-hot-product></app-hot-product>
    <section>
        <div class="top-container">
            <app-full-banner></app-full-banner>
        </div>
    </section>
    <section>
        <div class="top-container">
            <app-show-magazine></app-show-magazine>
            <ul class="slick-dots">
                <li><button>1</button></li>
                <li><button>2</button></li>
                <li><button>3</button></li>
            </ul>
            <div class="btn-show-all">
                <a href="" class="hover_a_show_all">Xem tất cả</a>
            </div>
        </div>
    </section>
</main>