<main>
    <app-bread-crumb [subLink]="itemCatalog"></app-bread-crumb>
    <section>
        <div class="top-container">
            <div class="detail-product">
                <div class="detail-img">
                    <img src="{{product.urlImg}}" alt="">
                </div>
                <div class="detail-info">
                    <div class="title-detail">
                        <h1>{{product.name}}</h1>
                    </div>
                    <div class="status-detail">
                        <p>SKU: <span>(Đang cập nhật....)</span> | Loại hàng <span>{{itemCatalog.Name}}</span></p>
                    </div>
                    <div class="rating-detail">
                        <fa-icon icon="star"></fa-icon>
                        <fa-icon icon="star"></fa-icon>
                        <fa-icon icon="star"></fa-icon>
                        <fa-icon icon="star"></fa-icon>
                        <fa-icon icon="star"></fa-icon>
                    </div>
                    <div class="more-detail-info">
                        <div class="price-detail">
                            <h2>{{formmatPrice(setNewPrice(product.price, product.discount))}} <span>giá thị trường:</span> <del>{{formmatPrice(product.price)}}</del></h2>
                            <p>Tiết kiệm: <span class="red-text">{{showDisCount(product.price, product.discount)}}</span></p>
                            <p>Tình trạng: <span class="red-text">{{statusItem()}}</span></p>
                        </div>
                        <div class="description-detail">
                            <p>
                                - Dùng cho vùng da quanh mắt. - Thành phần Dynamic Collagen giúp da săn chắc bảo vệ da.
                            </p>
                            <p>
                                - Tinh chất chống lão hóa, dưỡng ẩm, mờ nếp nhăn, quầng thâm.
                            </p>
                            <p>
                                - Thành phần Dynamic Collagen giúp da săn chắc bảo vệ da.
                            </p>
                        </div>
                    </div>
                    <div class="qty-detail">
                        <label for="">Số lượng</label>
                        <div style="margin-left: 7%;">
                            <button (click)="reduceItem(product)" class="item-popup-count">-</button>
                            <input type="text" disabled value="{{product.qty}}" class="number-sidebar">
                            <button (click)="increaseItem(product)" class="item-popup-count">+</button>
                        </div>
                    </div>
                    <div class="btn-buy">
                        <button (click)="checkoutNow(product)" routerLink="/checkout">
                            <h3>Mua ngay với giá <span>{{formmatPrice(totalItem(product))}}</span></h3>
                            <p>Đặt mua giao hàng tận nơi</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>