.show-cart-content {
    display: grid;
    grid: 100% / 20% 50% 10% 20%;
}

.show-cart-content-img {
    display: block;
    padding: 10px;
}

.show-cart-content-img img {
    width: 100%;
}

.show-cart-content-info {
    margin: 5%;
}

.show-cart-content-info a h3 {
    font-size: 17px;
    margin-bottom: 7px;
    line-height: 20px;
    font-weight: 550;
    padding-top: 0;
}

.show-cart-content-info a h3:hover {
    color: #f33;
}

.show-cart-content-info p a {
    border: 0;
    color: #f33;
    font-size: 14px;
    position: static;
    padding: 0;
    line-height: 1.1;
    text-decoration: none;
    cursor: pointer;
}

.show-cart-content-price {
    margin-top: 60%;
    text-align: center;
}

.show-cart-content-price p {
    border: 0;
    color: #f33;
    font-size: 18px;
    position: static;
    padding: 0;
    line-height: 1.1;
    font-weight: 500;
}

.show-cart-content-info p a:hover {
    text-decoration: underline;
}

.show-cart-content-info p {
    margin: 0;
}

.show-cart-content-qty {
    margin-top: 40%;
    text-align: center;
}

.show-cart-content-qty .item-popup-count,
.number-sidebar {
    width: 25px;
    height: 25px;
    font-size: 18px;
    margin-top: 5%;
    font-weight: 400;
}

.item-popup-count {
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
    height: 24px;
    margin-top: 13px;
    width: 23px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
}

.number-sidebar {
    border: 1px solid #ddd;
    height: 19px;
    margin-left: -1px;
    text-align: center;
    width: 23px;
    vertical-align: top;
    margin-right: -1px;
    margin-top: 8px;
    display: inline-block;
    min-height: 22px;
    padding: 0;
    border-radius: 0;
    background-color: #fff;
    cursor: pointer;
}

.show-cart-content-price-mobie {
    display: none;
}

.show-cart-content-qty .number-sidebar {
    height: 23px;
    font-size: 16px;
    font-weight: 400;
}