.full-banner img {
    width: 100%;
}

.full-banner {
    margin: 40px 0;
    display: block;
}

.img-sale-item_hover_a {
    display: block;
    position: relative;
    overflow: hidden;
}

.img-sale-item_hover_a:hover:before {
    -webkit-animation: circle 1s;
    -ms-animation: circle 1s;
    -o-animation: circle 1s;
    animation: circle 1s;
}

.img-sale-item_hover_a:before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes circle {
    0% {
        opacity: 1
    }
    40% {
        opacity: 1
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0
    }
}